/* Padding and margin only */
.container-box {
  padding: 24px;
  margin: 80px 16px;
}

.logo-container {
  margin-bottom: 16px;
}

.tab-container {
  margin-bottom: 24px;
}

.form-control {
  margin-bottom: 16px;
}

.action-row {
  margin-top: 24px;
  column-gap: 16px;
}

.remember-label {
  margin-left: 8px;
}

/* Hides default reveal (eye) icon in Edge and IE */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

/* Hides password reveal icon in Chrome */
input::-webkit-credentials-auto-fill-button,
input::-webkit-textfield-decoration-container {
  display: none !important;
}
